In [1]:
import pandas as pd
import numpy as np

In [2]:
evig = pd.read_csv('Roster.csv', dtype={"Record ID": np.int64, "Geographic ID": np.object}, index_col=0)
evig.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 101 to 147
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Description            46 non-null     object
 1   Acreage                46 non-null     float64
 2   Owner                  46 non-null     object
 3   e-mail                 41 non-null     object
 4   phone                  36 non-null     object
 5   Street Address         42 non-null     object
 6   City, State, Zip       42 non-null     object
 7   Mail Street            46 non-null     object
 8   Mail City, State ZIP   46 non-null     object
 9   Geographic ID          45 non-null     object
 10  19Paid                 46 non-null     object
 11  20paid                 30 non-null     object
dtypes: float64(1), object(11)
memory usage: 4.7+ KB

In [3]:

evig.head()

,Description,Acreage,Owner,e-mail,phone,Street Address,"City, State, Zip",Mail Street,"Mail City, State ZIP",Geographic ID,19Paid,20paid
Record ID,,,,,,,,,,,,
101,Clenn Add #1,1.06,Jerome & Samantha Jerome,yakimadog@hotmail.com; roslyndog@hotmail.com,509-888-0358,12310 Village View Dr,"Leavenworth, WA 98826",12310 Village View Dr,"Leavenworth, WA 98826",241701515010,z,b
102,Clenn Add #2,1.06,Randy & Shawna Alexander,alexfam@hotmail.com,509-548-2464,12330 Village View Dr,"Leavenworth, WA 98826",12330 Village View Dr,"Leavenworth, WA 98826",241701515020,y,b
103,Clenn Add #3,1.02,Arlen & Donna Simon,adsimon@televar.com,509-548-1344,12360 Village View Dr.,"Leavenworth, WA 98826",PO Box 291,"Leavenworth, WA 98826",241701515030,x,b
104,Clenn Add #4,1.02,Ryan Jenkins & Kim Tobiason,ryanandkim1@icloud.com,206-369-8651,12380 Village View Dr,"Leavenworth, WA 98826",12380 Village View Dr,"Leavenworth, WA 98826",241701515040,z,c
105,Clenn Add #5,1.08,Steve & Patty Varner,srv.1944@hotmail.com,509-548-7048,12400 Village View Dr,"Leavenworth, WA 98826",12400 Village View Dr,"Leavenworth, WA 98826",241701515050,x,a

In [ ]:
new = []

In [ ]:
# each run change the value to next letter
def track_payments(list):
    evig.at[list, '20paid'] = 'd'
    evig.to_csv('Roster.csv')

In [8]:
df = evig['20paid']
# df['20paid'] == NaN

In [16]:
unpaid = [x for x!=None in df  ]
unpaid

SyntaxError: invalid syntax (<ipython-input-16-a7e80b18093f>, line 1)

In [17]:
df

Record ID
101      b
102      b
103      b
104      c
105      a
106      b
107      a
108      b
109      c
110    NaN
111      b
112      a
113    NaN
114      c
115      c
116    NaN
117      c
118      a
119    NaN
120      a
121    NaN
122    NaN
123      a
124      b
125      a
126      a
127    NaN
128    NaN
129    NaN
131      c
132      c
133    NaN
134      b
135      b
136      c
137    NaN
138    NaN
139      b
140      c
141    NaN
142    NaN
143      c
144    NaN
145    NaN
146      a
147      b
Name: 20paid, dtype: object